.custom-button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: lightgrey;
    font-weight: 500;
}

.custom-button:hover {
    background-color: blueviolet;
    cursor: grab;
}