/* src/components/Form.css */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .error {
    color: red;
  }
  .link-btn {
    background-color: #888888;
    background: none;
    border: none;
    color: #F2877D;
    cursor: pointer;
    text-decoration: none;
    text-align: right;
  }
  